<!DOCTYPE html> <html lang="en"> <head> <meta charset="UTF-8"> <title>Forma</title> </head> 

<body> 
  <form action="" method="post">
    {% csrf_token %}

    Full name: 
    <input type="text" name="full_name"><br> 

    Mathematics: 
    <input type="text" name="mathematics_grade"><br> 
    
    Latvian language: 
    <input type="text" name="latvian_language_grade"><br> 
    
    Foreign language: 
    <input type="text" name="foreign_language_grade"><br> 
    <input type="submit"> 
  </form> 
</body> 
</html> 
